
@{
    ViewBag.Title = "WelcomeUser";
}
<div class="jumbotron">
    <h1>Travel and Book Products</h1>
</div>
<h2>Choose a Product</h2>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("GetAllActivities", "Activity", FormMethod.Post))
        {
            <button class="btn btn-success">Activity</button>
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("GetAllAirs", "Air", FormMethod.Post))
        {
            <button class="btn btn-success">Air</button>
        }
    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("GetAllCars", "Car", FormMethod.Post))
        {
            <button class="btn btn-success">Car</button>
        }
    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("GetAllHotels", "Hotel", FormMethod.Post))
        {
            <button class="btn btn-success">Hotel</button>
        }
    </div>
</div>

